In [13]:
import pickle
with open('/content/vacationtrip','rb') as f:
  #create a object to hold ML model
  reg=pickle.load(f)

In [14]:
import pandas as pd
clientdf=pd.read_csv('/content/Client.csv')
clientdf

   Distance(KM)  Days  No.Of.people
0           364     2             2
1           190     2             4
2          1232     4             4
3           160     2             6
4           172     2             2
5           444     3             2
6           312     3             2
7           188     2             4
8           116     1             2

In [15]:
resultdf=reg.predict(clientdf)
resultdf

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- No.Of.people
Feature names seen at fit time, yet now missing:
- People

  warnings.warn(message, FutureWarning)

array([11268.96169994, 11145.41641202, 51799.65293457, 15896.12099288,
        4769.9618749 , 16668.68973807, 12200.62735836, 11077.71849718,
         182.60881489])

**BEST VACATION TRIP ANALYSIS**

In [18]:
print("Best Prediction based on Budget" )
a=resultdf
print(a.min())

Best Prediction based on Budget
182.6088148941053